*{
    background-color: rgb(247, 241, 233);
  }
  .head{
    margin: 30px;
    font-size: 80px;
    color:#33211D;
    animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .parag{
    font-size: 30px;
    font-weight: 100;
  }