.navbar  {
   
    background-color: #33211D;
    font-size: large;
}

.navbar-brand,
 .nav-link
  {
    color: white;
    font-size: 1.2rem;

}

.navbar-brand:hover,
 .nav-link:hover {
    color: rgb(233, 190, 156);
    font-size:1.5rem ;

}

.navbar-brand:active,
 .nav-link :active{
    text-decoration: none;
}